*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.carouisel-item img{
    height: 75vh;
    object-fit: cover;
}
.carouisel-control-prev{
    left: 10%;
}
.carouisel-control-next{
    right: 10%;
}
.marketing{
    text-align: center;
}
.marketing h2{
    font-size: 3rem;
    margin-bottom: 7rem;
    margin-top: 2rem;
}
.float-right{
    float: right;
}